.contact {
  max-width: 980px;
  height: 100vh;
  //background-color: aqua;
  margin: 0 auto;
  h1 {
    font-size: 30px;
    font-family: "Proxima";
    text-decoration: underline;
    //padding-left: 270px;
  }
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="text"] {
  position: relative;
  right: 300px;
}
textarea {
  position: relative;
  right: 20px;
}
form {
  width: 529px;
  height: 522px;
  left: 400px;
  bottom: 600px;
  position: relative;
}
.promo-button {
  padding: 10px 24px;
  margin-left: 30px;
  background-color: $site-blue;
  border-radius: 0px;
  color: $site-white;
  border: 2px solid $site-blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
.map {
  max-width: 400px;
  height: 442px;
  //margin-left: 250px;
}
.map-one {
  background-image: url(../images/map.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  width: 21%;
  font-size: 18px;
  font-family: "Gill";
}
p {
  position: relative;
  top: 15px;
  font-size: 18px;
  font-family: "Gill";
}
@media (max-width: 850px) {
  .contact {
    flex-wrap: wrap;
  }
  .map {
    padding: 20px 40px;
  }
}
