.promo-nineteen {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/japan-tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/japan-tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty-one {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/japan-tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
