.promo-twenty-two {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/canada-tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty-three {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/canada-tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty-four {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/canada-tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
