.promo-sixteen {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/egypt-tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-seventeen {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/egypt-tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-eighteen {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/egypt-tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
