.promo-twenty-five {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/uae-tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty-six {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/uae-tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-twenty-seven {
  height: 347px;
  width: 298px;
  background-color: cadetblue;
  margin-right: 50px;
  background-image: url(../images/uae-tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
